@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'swiper/css';

@import 'swiper/css/navigation';

@import 'swiper/css/pagination';

/* remove arrows in number inputs - webkit */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Loader */
.loader {
  @apply w-4 h-4 border-2 border-blue-400 border-t-transparent border-solid rounded-full animate-spin;
}

/* Page sizes */
.max-w-page {
  @apply max-w-7xl mx-auto;
}

.padding-central-page {
  @apply px-4 sm:px-6 lg:px-8;
}

.container-section {
  @apply flex flex-col items-center justify-center gap-4 md:gap-6 xl:gap-10 pt-20 sm:pt-24 md:pt-28 xl:pt-32;
}

.new-page {
  @apply relative bg-white min-h-screen mt-32;
}

.pb-from-footer {
  @apply pb-24 sm:pb-28 md:pb-32;
}

.padding-banner {
  @apply px-4 sm:px-6 md:px-10 xl:px-0;
}

/* Titles and descriptions */
.title-h1 {
  @apply text-2xl md:text-3xl xl:text-5xl font-bold;
}

.title-h2 {
  @apply text-xl md:text-2xl xl:text-3xl px-2;
}

.title-h3 {
  @apply text-lg md:text-xl xl:text-2xl px-2;
}

.title-h4 {
  @apply font-semibold text-primaryBlue-900;
}

.description-of-title-h1 {
  @apply text-base md:text-xl;
}

.description-of-title-h2 {
  @apply text-base md:text-lg xl:text-xl text-center px-2;
}

.description-of-title-h3 {
  @apply text-sm md:text-base xl:text-lg text-center px-2;
}

/* Components */
.grid-central-page {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8;
}

.grid-steps-central-page {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8;
}

.btn-base-style {
  @apply flex items-center gap-2 px-4 py-2 rounded-lg text-white text-sm;
}

.faqs-services-pages {
  @apply space-y-4 w-full lg:w-2/4 mt-6 px-6 sm:px-10 md:px-20 lg:px-0;
}

.carousel-container {
  @apply w-full py-6 sm:py-8 md:py-10 lg:py-14;
}

/* Forms */

.form-container {
  @apply border border-customGray-600 rounded-3xl w-full p-4 md:p-6 lg:p-10;
}

.input-form-container {
  @apply flex w-full flex-col md:flex-row md:justify-between items-start gap-3 md:gap-4;
}

.input-form-error {
  @apply py-3 px-4 border w-full rounded-2xl bg-red-50 border-red-300 font-medium text-primaryBlue-900 placeholder:font-normal placeholder:text-customGray-400 text-sm placeholder:text-sm focus:bg-white focus:border-primaryBlue-100 focus:ring-1 focus:ring-primaryBlue-100 outline-none transition-all duration-300;
}

.input-form {
  @apply py-3 px-4 border w-full rounded-2xl bg-white border-gray-300 font-medium text-primaryBlue-900 placeholder:font-normal placeholder:text-customGray-400 text-sm placeholder:text-sm focus:border-primaryBlue-100 focus:ring-1 focus:ring-primaryBlue-100 outline-none transition-all duration-300;
}

.payment-input-error-form {
  @apply py-3 px-4 border w-full rounded-md bg-red-50 border-red-300 font-medium text-primaryBlue-900 placeholder:font-normal text-sm placeholder:text-sm placeholder:text-customGray-400 focus:bg-white focus:border-primaryBlue-100 focus:ring-1 focus:ring-primaryBlue-100 outline-none transition-all duration-300;
}

.payment-input-form {
  @apply py-3 px-4 border w-full rounded-md bg-white border-gray-300 font-medium text-primaryBlue-900 placeholder:font-normal text-sm placeholder:text-sm placeholder:text-customGray-400 focus:border-primaryBlue-100 focus:ring-1 focus:ring-primaryBlue-100 outline-none transition-all duration-300;
}

.summary-container {
  @apply flex flex-col py-4 px-4 md:px-6 shadow-md bg-white rounded-2xl border border-gray-100;
}

.modal-animated {
  @apply absolute top-full mt-2 -left-5 z-50 opacity-0 scale-95 pointer-events-none group-hover:opacity-100 group-hover:scale-100 group-hover:pointer-events-auto transition-all duration-300 ease-out origin-top;
}

/* Buttons */

.primary-button {
  @apply w-full py-2 bg-primaryBlue-500 hover:bg-primaryBlue-700 duration-300 transition-colors text-white font-normal rounded-2xl;
}

.button-option {
  @apply w-full font-medium rounded-xl bg-white border border-primaryBlue-900 text-primaryBlue-900 transition-colors duration-300 hover:bg-primaryBlue-300 hover:border-primaryBlue-300 hover:text-white;
}

.button-option-bg-transparent {
  @apply w-full font-medium rounded-xl border border-primaryBlue-600 text-primaryBlue-600 transition-colors duration-300 hover:bg-primaryBlue-300 hover:border-primaryBlue-300 hover:text-white;
}

.button-option-selected {
  @apply w-full font-medium rounded-xl bg-primaryBlue-900 border-none text-white transition-colors duration-300;
}

.payment-form-button {
  @apply block text-center w-full max-w-lg py-2 bg-primaryBlue-900 text-white font-semibold rounded-md hover:brightness-125 hover:scale-105 transition-all duration-200 disabled:bg-customGray-400 disabled:bg-opacity-60 disabled:hover:scale-100 disabled:hover:brightness-100;
}

/* Admin tables */

.table-col-style {
  @apply text-sm text-center w-fit bg-customGray-50 px-6 py-4 font-semibold;
}

.table-row-style {
  @apply text-sm text-center text-primaryBlue-900 px-6 py-4;
}